.staticModal {
  position: fixed;
  margin: 0 auto;
  left: 50%;
  right: 50%;
}

.battleLog {
  position: fixed;
  margin: 0 auto;
  left: 50%;
  right: 50%;
}

.hiddenStack {
  display: none;
}

#flex {
  flex-direction: row;
  flex-flow: initial;
  display: inline-block;
  position: relative;
}

.flex {
  flex-direction: row;
  flex-flow: initial;
  display: inline-block;
  position: relative;
}

#playerOne {
  flex-direction: column;
  flex-flow: initial;
  display: inline-block;
  max-height: 100vh;
  max-width: 100vw;
  position: relative;
}

#playerTwo {
  flex-direction: column;
  flex-flow: initial;
  display: inline-block;
  max-height: 100vh;
  max-width: 100vw;
  position: relative;
  left: 50%;
}
/* 
#fightingOptions {
  position: fixed;
  z-index: 99;
  left: 50%;
} */
