body {
  background: #100;
  max-height: 100vh;
}
/*  when you get fed up with your modifications, rewind to here */
.shell {
  /* transform: scale(3) rotate(33deg); */
  position: fixed;
  margin: 0 auto;
}

.buttonContainer {
  width: 200vw;
  height: 100vh;
  left: 90%;
  bottom: 300vh;
  margin-top: -100%;
  margin-bottom: 100vh;
  position: absolute;
  justify-content: space-between;
  /* transform: rotate(33deg) scale(1.25); */
}

.rotator {
}

.modal {
  position: fixed;
  left: 80%;
  bottom: 27%;
  font-size: medium;
}

#topleft-arrow {
  border-color: white transparent;
  background-color: transparent;
  border-style: solid;
  border-width: 0px 20px 20px 20px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #e01810;
  bottom: -21%;
  left: 50%;
  position: relative;
  transform: rotate(-35deg);
  outline: 0;
}
#topright-arrow {
  /* border-color: white transparent; */
  background-color: transparent;
  /* border-style: solid;
  border-width: 0px 20px 20px 20px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #ffffff;
  bottom: -21%;
  left: -7.7%; */
  position: relative;
  /* transform: rotate(35deg); */
  outline: 0;
}

#downright-arrow {
  /* border-color: white transparent; */
  background-color: transparent;
  /* border-style: solid;
  border-width: 0px 20px 20px 20px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #ffffff;
  bottom: -21%;
  left: -7.7%; */
  position: relative;
  /* transform: rotate(35deg); */
  outline: 0;
}

#downleft-arrow {
  /* border-color: white transparent; */
  background-color: transparent;
  /* border-style: solid;
  border-width: 0px 20px 20px 20px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #ffffff;
  bottom: -21%;
  left: -7.7%; */
  position: relative;
  /* transform: rotate(35deg); */
  outline: 0;
}

#down-arrow {
  /* border-color: white transparent; */
  background-color: transparent;
  /* border-style: solid;
  border-width: 0px 20px 20px 20px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #ffffff;
  bottom: -21%;
  left: -7.7%; */
  position: relative;
  /* transform: rotate(35deg); */
  outline: 0;
}

.arrow {
}

#backgrounds {
  z-index: 99;
  float: right;
  bottom: 20%;
  margin-bottom: -5%;
  margin-top: 5%;
  left: 40%;
  position: relative;
}

#backgrounds > button {
  flex-direction: row;
  justify-content: space-between;
}

.arrow :hover {
  box-shadow: 10px 10px 5px grey;
}

#color-picker {
  position: relative;
  left: 60vw;
  margin-left: 100%;
  float: right;
}

.colorPicker {
  left: 300%;
  top: 50%;
  margin-top: 10%;
  position: relative;
}

#colors {
  background-color: black;
  color: white;
  border-radius: 25px;
  position: relative;
  left: 40%;
  bottom: 20%;
  z-index: 99;
}

.base {
  width: 300px;
  height: 50vh;
  position: relative;
  margin: 0 auto;
  top: 50px;
}
.circle {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 12px solid black;
  border-radius: 112px;
  left: 150px;
  top: 150px;
  margin-left: -107px; /* don't know why 107 ? */
  margin-top: -112px;
}
.bar,
.overbar {
  position: absolute;
  height: 200px;
  width: 10px;
  left: 150px;
  top: 50px;
}

li {
  list-style-type: none;
  height: 200px;
  width: 20px;
  margin-left: 30px;
  width: 10px;
  background: black;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}

.overbar li {
  margin-top: 50px;
  margin-left: 28px;
  height: 50px;
  width: 14px;
  background: black;
  border-left: 2px solid darkgray;
  border-right: 2px solid gray;
}

#instruments {
  left: 40%;
  bottom: 20%;
  position: relative;
  margin-top: 10%;
}

#playButton {
  background-color: white;
  border-radius: 200%;
  width: 300px;
  height: 300px;
  z-index: 99;
  position: fixed;
  margin: 0 auto;
}
#wrapper {
  bottom: 50vh;
  position: relative;
  min-width: 600px;
  left: 100%;
}

#playButton :hover {
  transform: rotate3d(360deg);
}

.n0 {
  -webkit-transform: rotate(90deg);
}
.n1 {
  -webkit-transform: rotate(162deg);
}
.n2 {
  -webkit-transform: rotate(234deg);
}
.n3 {
  -webkit-transform: rotate(306deg);
}
.n4 {
  -webkit-transform: rotate(378deg);
}
