body {
  background: #100;
}

.shell {
  transform: scale(3);
  position: fixed;
}

.buttonContainer {
  width: 100vw;
  height: 100vh;
  left: 8%;
  top: -1%;
  position: fixed;
  transform: scale(1.2);
}

.modal {
  position: fixed;
  left: 80%;
  bottom: 27%;
  font-size: medium;
}

#topleft-arrow {
  border-color: white transparent;
  background-color: transparent;
  border-style: solid;
  border-width: 0px 20px 20px 20px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #e01810;
  bottom: -21%;
  left: -22.5%;
  position: relative;
  transform: rotate(-35deg);
}
#topright-arrow {
  border-color: white transparent;
  background-color: transparent;
  border-style: solid;
  border-width: 0px 20px 20px 20px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #ffffff;
  bottom: -21%;
  left: -7.7%;
  position: relative;
  transform: rotate(35deg);
}

#downright-arrow {
  border-color: white transparent;
  background-color: transparent;
  border-style: solid;
  border-width: 0px 20px 20px 20px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #c04dc6;
  bottom: -38%;
  left: 13%;
  position: relative;
  transform: rotate(110deg);
}

#downleft-arrow {
  border-color: white transparent;
  background-color: transparent;
  border-style: solid;
  border-width: 0px 20px 20px 20px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid#CFE010;
  bottom: -38%;
  left: -7.7%;
  position: relative;
  transform: rotate(-110deg);
}

#down-arrow {
  border-color: white transparent;
  background-color: transparent;
  border-style: solid;
  border-width: 0px 20px 20px 20px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #2b51ca;
  bottom: -49.5%;
  left: -6%;
  position: relative;
  transform: rotate(-180deg);
}

.arrow {
}

.arrow :hover {
  box-shadow: 10px 10px 5px grey;
}

#color-picker {
  position: relative;
  left: 60vw;
  margin-left: 100%;
  float: right;
}

.colorPicker {
  left: 300%;
  top: 50%;
  margin-top: 10%;
  position: relative;
}

#colors {
  background-color: black;
  color: white;
  border-radius: 25px;
  position: relative;
  left: 40%;
  bottom: 20%;
  z-index: 99;
}

.base {
  width: 300px;
  height: 50vh;
  position: relative;
  margin: 0 auto;
  top: 50px;
}
.circle {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 12px solid #500;
  border-radius: 112px;
  left: 150px;
  top: 150px;
  margin-left: -107px; /* don't know why 107 ? */
  margin-top: -112px;
}
.bar,
.overbar {
  position: absolute;
  height: 200px;
  width: 10px;
  left: 150px;
  top: 50px;
}

li {
  list-style-type: none;
  height: 200px;
  width: 20px;
  margin-left: 30px;
  width: 10px;
  background: #500;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}

.overbar li {
  margin-top: 50px;
  margin-left: 28px;
  height: 50px;
  width: 14px;
  background: #500;
  border-left: 2px solid #100;
  border-right: 2px solid #100;
}

.n0 {
  -webkit-transform: rotate(90deg);
}
.n1 {
  -webkit-transform: rotate(162deg);
}
.n2 {
  -webkit-transform: rotate(234deg);
}
.n3 {
  -webkit-transform: rotate(306deg);
}
.n4 {
  -webkit-transform: rotate(378deg);
}
