<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=characterOne.name%> Vs <%=characterTwo.name%></title>
  </head>
  <body>
    <div id="container">
      <% let currentTurn = 1; %>
      <h1><%=characterOne.name%> Vs <%=characterTwo.name%></h1>

      <% if (currentTurn === 1) { %>

      <p>Player One's Turn</p>

      <% } else { %>

      <p></p>
      <% } %>

      <h2></h2>
    </div>
  </body>
</html>
