<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Victory</title>
  </head>
  <body>
    <h1><%=characterOne.name%> Was Victorious Over <%=characterTwo.name%></h1>
    <!-- rest of readout and level up, if applicable. Remember to push to databases before viewing this page. -->
  </body>
</html>
